@import './base.css';

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: var(--color-background);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-weight: normal;
}

main {
  flex: 1;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.3s;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-primary-hover);
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  main {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
  }
}
